#checklist {
    width: 300px;
    margin-top: 30px;
}

.checklist-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #5193fc;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.checkbox:checked {
    background-color: #5193fc;
}

.task-input {
    flex-grow: 1;
    padding: 5px;
    border: none;
    font-size: 20px;
    color: black;
    outline: none;
}

.task-input::placeholder {
    color: grey;
}

.checkbox:checked + .task-input {
    color: grey;
    text-decoration: none;
}

#progress-container {
    margin-top: 60px;
    text-align: center;
}

#progress-bar {
    width: 300px;
    height: 20px;
    border: 2px solid transparent;
    border-radius: 12px;
    background-color: #f3f3f3;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    appearance: none;
}

#progress-bar::-webkit-progress-bar {
    border-radius: 12px;
    background-color: #f3f3f3;
}

#progress-bar::-webkit-progress-value {
    border-radius: 12px;
    background-color: #4caf50;
}

#progress-bar::-moz-progress-bar {
    border-radius: 12px;
    background-color: #4caf50;
}

.toolbar {
    position: absolute;
    background-color: white;
    padding: 8px 10px 12px 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: thin;
    border-radius: 12px;
    box-shadow: 4px 4px 10px #c5c5c5, -6px -6px 12px #ffffff;
    display: flex;
    align-items: center;
    height: 25px;
}

#topToolbar {
    padding: 8px 10px 12px 10px;
}

#bottomToolbar {
    padding: 12px;
}

/*Top toolbar*/
.text-button {
    background-color: white;
    color: black;
    font-family: var(--smooth), serif;
    font-size: 18px;
    font-weight: 100;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 0.4em;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: 0.2em;
}

#text-colour-button {
    width: 3em;
    height: 1.7em;
}

#highlight-colour-button {
    width: 5em;
    height: 1.5em;
}

.highlight {
    background-color: yellow;
}

.style-button {
    background-color: white;
    color: black;
    font-family: var(--smooth), serif;
    font-size: 18px;
    font-weight: 100;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    padding: 0.35em;
    box-sizing: border-box;
    margin-top: -10px;
}

.button-icon {
    background-color: transparent;
    width: 1.1em;
    height: 1.1em;
    pointer-events: none;
}

/*Bottom toolbar*/
.colour-button {
    width: 24px;
    height: 24px;
    border-radius: 7px;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border: 0.14em solid;
}

.colour-button:hover {
    transform: scale(1.05);
}

.color-black { background-color: rgb(35,37,41); border-color: black; }
.color-grey { background-color: rgb(92,94,98); border-color: rgb(70,71,74); }
.color-red { background-color: rgb(240,85,77); border-color: rgb(217,68,61); }
.color-pink { background-color: rgb(227,79,121); border-color: rgb(199,56,96); }
.color-orange { background-color: rgb(237,138,57); border-color: rgb(209,116,40); }
.color-yellow { background-color: rgb(247,192,52); border-color: rgb(235,178,35); }
.color-green { background-color: rgb(69,222,130); border-color: rgb(47,204,110); }
.color-light-blue { background-color: rgb(80,194,242); border-color: rgb(58,175,224); }
.color-dark-blue { background-color: rgb(48,102,240); border-color: rgb(27,82,222); }
.color-purple { background-color: rgb(124,83,237); border-color: rgb(100,57,219); }