@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blocky: 'Space Grotesk', sans-serif;
    --smooth: 'Metropolis', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

.material-symbols-outlined {
     font-variation-settings:
         'FILL' 0,
         'wght' 400,
         'GRAD' 0,
         'opsz' 24
 }
