:root {
    --blocky: 'Space Grotesk', sans-serif;
    --smooth: 'Metropolis', sans-serif;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
}

#home-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 70px;
}