#settings-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 70px;
}

#settings-panel {
    position: absolute;
    background-color: white;
    top: 130px;
    left: 70px;
    height: 500px;
    width: 400px;
    padding: 10px;
    border-style: solid;
    border-color: #e0e0e0;
    border-width: thin;
    border-radius: 12px;
    box-shadow: 4px 4px 10px #c5c5c5, -6px -6px 12px #ffffff;
    display: flex;
    align-items: center;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.container-title {
    font-family: var(--smooth), serif;
    font-size: 20px;
    font-weight: 100;
    margin-bottom: 10px;
}

#upload-buttons {
    display: flex;
    align-items: center;
}

input[type="file"] {
    display: none;
}

#upload-image-btn {
    font-family: var(--smooth), serif;
    font-size: 14px;
    font-weight: 100;
    background-color: #4287f5;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 6px 12px;
    cursor: pointer;
    position: relative;
}

#remove-image-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 6px;
    padding: 4px;
    cursor: pointer;
    position: absolute;
    right: 125px;
}

#remove-image-icon {
    background-color: transparent;
    width: 1em;
    height: 1.1em;
    pointer-events: none;
}

.switch-container {
    width: 36px;
    height: 21px;
    position: relative;
}

/* Hide default HTML checkbox for switch only */
.switch-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.switch {
    width: 100%;
    height: 100%;
    display: block;
    background-color: #e9e9eb;
    border-radius: 16px;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.slider {
    width: 19px;
    height: 19px;
    position: absolute;
    left: calc(50% - 19px/2 - 7px);
    top: calc(50% - 19px/2);
    border-radius: 50%;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.15), 0px 2px 0.7px rgba(0, 0, 0, 0.06);
    transition: all 0.2s ease-out;
    cursor: pointer;
}

.switch-checkbox:checked + .switch {
    background-color: #4287f5;
}

.switch-checkbox:checked + .switch .slider {
    left: calc(50% - 19px/2 + 7px);
    top: calc(50% - 19px/2);
}
